// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  background-color:green;
  
}

.header:after {
    content: "";
    clear: both;
    display: block;
}


.header-left{
  float:left;
}

.header-right{
  float:right;
}